{% extends "base.html" %}
{% load static %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3 col-sm-3"  >
            <div class=" main-fold">
                <div class="row">
                    <form  action="#" method="post">
                        <div class="col-md-2 col-sm-2 fold-brand"><span class="glyphicon glyphicon-search"></span></div>
                        <div class=" col-md-10 col-sm-10"><input type="text" class="form-control" placeholder="search"></div>
                    </form>
                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-md-2 col-sm-2 fold-brand"><span class="glyphicon glyphicon-folder-open"></span></div>
                        <div class="col-md-10 col-sm-10 fold-name">FOLD</div>
                    </a>

                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-md-3 col-sm-3 fold-brand"><span class="glyphicon glyphicon-folder-open"></span></div>
                        <div class="col-md-9 col-sm-9 fold-name">FOLD-children</div>
                    </a>
                </div>
                <div class="row">
                    <a href="#">
                        <div class="col-md-2 col-sm-2 fold-brand"><span class="glyphicon glyphicon-folder-open"></span></div>
                        <div class="col-md-10 col-sm-10 fold-name">FOLD2</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 " >
            <div class="main-list">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h5 class="title"><span class="glyphicon glyphicon-menu-hamburger"></span> arm</h5>
                        <p class="content">content content content content content content content content content content content content contentcontent content content content content content content content content content content content12</p>
                        <p class="time">2017-12-10</p>
                    </li>
                    <li class="list-group-item">
                        <h5 class="title"><span class="glyphicon glyphicon-menu-hamburger"></span> python</h5>
                        <p class="content">content</p>
                        <p class="time">2017-12-10</p>
                    </li>
                    <li class="list-group-item">
                        <h5 class="title"><span class="glyphicon glyphicon-menu-hamburger"></span> linux</h5>
                        <p class="content"> content</p>
                        <p class="time">2017-12-10</p>
                    </li>
                    <li class="list-group-item">
                        <h5 class="title"><span class="glyphicon glyphicon-menu-hamburger"></span> stm32</h5>
                        <p class="content">content</p>
                        <p class="time">2017-12-10</p>
                    </li>
                    <li class="list-group-item">

                        <h5 class="title"><span class="glyphicon glyphicon-menu-hamburger"></span> c</h5>
                        <p class="content">content</p>
                        <p class="time">2017-12-10</p>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-6 col-sm-6" >
            <button id="editor" class="btn btn-primary" data-backdrop="static" data-keyboard="" data-toggle="modal" data-target="#editorModal" style="position: absolute;">edit</button>
            <div class="main-content">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>title</h3></div>
                    <div class="list-group">
                        <div class="list-group-item">attachment</div>
                    </div>
                    <div class="panel-body">content</div>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-lg" id="editorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
{#            <div class="modal-dialog modal-lg" role="document">#}
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="note-save" type="button" class="close" data-dismiss="modal" aria-label="Close">save</button>
                    </div>
                    <iframe style="display: none;" id="editor-iframe" src="editor" ></iframe>
{#                    <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#                    </div>#}
                </div>
{#            </div>#}
        </div>

{% endblock %}

{% block js %}
    <script src="{% static "js/note.js" %}"></script>


    <script>

        $("#editor").click(function () {
            setTimeout(function () {
                var height = $(window).height();
                var top = $("#editor-iframe").parent().offset().top;
                var width = $("#editor-iframe").parent().width();
                $("#editor-iframe").css("height", String(height - top - 55) + "px");
                $("#editor-iframe").css("width", String(width) + "px");
                $("#editor-iframe").css("display", "block");
            },500);
        });
    </script>

{% endblock %}